node_modules
npm-debug.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
.eslintrc*
.prettierrc*
.dockerignore
Dockerfile
docker-compose.yml
build
.DS_Store
coverage
.nyc_output
*.log
